body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
  --color-background: #fafafa;
  --color-foreground: black;
  --color-foreground-light: #444;
  --color-modal-background: rgba(255, 255, 255, 0.7);
  --color-link: blue;
  --color-border: #444;
  background: var(--color-background);
  color: var(--color-foreground);
}

body.dark {
  --color-background: black;
  --color-foreground: #fafafa;
  --color-foreground-light: #ddd;
  --color-modal-background: rgba(0, 0, 0, 0.7);
  --color-link: aqua;
  --color-border: #eee;
}

/* @media (prefers-color-scheme: dark){
  body {
    --color-background: black;
    --color-foreground: #fafafa;
    --color-foreground-light: #ddd;
    --color-modal-background: rgba(0, 0, 0, 0.7);
  }
} */

h1{
  text-transform: uppercase;
  font-size: 1.4em;
  padding: 20px 0;
  border-bottom: 1px solid var(--color-border);
  margin: 0 0 30 0;
  color: var(--color-foreground)
}

.footer {
  border-top: 1px solid var(--color-border);
  text-align: center;
  color: var(--color-foreground-light);
  font-size: 12px;
}

.footer a {
  text-decoration: none;
  color: var(--color-foreground)
}

.footer a:hover {
  color: var(--color-link)
}

/* rows */
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.row > div.grey {
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: flip 0.5s ease forwards;
}

.row > div.green {
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

.keypad {
  max-width: 560px;
  margin: 20px auto;
  color: black;
}

.keypad > div {
  border: 2px solid black;
  margin: 5px;
  width: 40px;
  height: 50px;
  background: #eee;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
  transition: all .1s ease-out;
}

.keypad > div:hover {
  cursor: pointer;
  border: 2px solid limegreen;
  width: 45px;
  height: 55px;
  font-size: 28px;
  margin: 0px;
  background-color: rgb(230, 255, 250);
  transition: all .1s ease-in;
}

.information-icon {
  padding-left: 5px;
  color: var(--accent-color);
  display: inline;
  vertical-align: top;
  width: 24px;
  height: 24px;
  filter: drop-shadow(0px 0px 10px rgba(0, 250, 0, 1)); 
}

ul.information {
  opacity: 0;
  height: 0;
  display: inline-block;
  color: var(--accent-color);
  text-align: left;
  vertical-align: top;
  /* border: 1px solid var(--border-color-light); */
  background-color: rgba(0, 37, 0, 0.75);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 3px;
  padding-left: 25px;
  max-width: 300px;
  font-style: italic;
  padding: inherit;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  /* transition: height 0.5s; */
  
}

ul.information:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: -15px;
  width: 0;
  height: 0;  
  border-right: 15px solid rgba(0, 37, 0, 0.75);
  border-bottom: 15px solid transparent; 
}

ul.visible {
  color: #ddd;
  opacity: 1;
  height: auto;
} 

li.information {
  font-size: 12px;
  margin: 8px 30px;
}

.keypad > div.backspace {
  width: 50px;
  background: rgb(255,200,200);
}

.keypad > div.backspace:hover {
  border: 2px solid rgb(255,50,50);;
  width: 55px;
  background: rgb(255,150,150);
}

.keypad > div.enter {
  width: 60px;
  background: rgb(200, 255, 200);
}

.keypad > div.enter:hover {
  width: 65px;
  font-size: 22px;
}

.keypad > div.green {
  background: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
  
}

.keypad > div.yellow {
  background: #e2cc68;
  color: #fff;
  transition: all 0.3s ease-in;
}

.keypad > div.grey {
  background: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}

.modal {
  background: var(--color-modal-background);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal div {
  max-width: 480px;
  background: var(--color-background);
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  color: var(--color-foreground);
}

.modal .solution {
  color: #ff004c;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.texto {
  opacity: 0;
}

.help {
  font-style: italic;
  color: var(--color-foreground-light);
  font-size: 14px;
}

/* animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: var(--color-background);
    border-color: #333;
  }

  45% {
    transform: rotateX(90deg);
    background: var(--color-background);
    border-color: #333;
  }

  55%{
    transform: rotateX(90deg);
    background: var(--color-background);
    border-color: var(--border-color);
    color: var(--color-foreground);
  }

  100% {
    transform: rotateX(0);
    background: var(--background);
    border-color: var(--border-color);
    color: var(--color-foreground);
  }
}


@keyframes bounce {
  0%{
    transform: scale(1);
    border-color: #ddd;
  }
  50%{
    transform: scale(1.2);

  }
  100%{
    transform: scale(1);
    border-color: #333;
  }
}